/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
.about {
  &__inner {
    padding: 50px 85px;
  }
}
.side {
  display: block;
}
